<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >Name error</div>
    <br/>

    <Label for="lastName">Enter last name: </Label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" >Last Name error</div>
    <br/>
    <br/>
    <label for="username">Логин: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div  style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>

    <input th:field="*{password}" id="password" type="hidden"/>

    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${allRoles}"
                   th:text="${role.role}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>

    <br/>
    <br/>
    <input type="submit" value="Edit!"/>
</form>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}" th:align="center">
    <input type="submit" value="Удалить"/>
</form>

<form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>

</body>
</html>
