<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<div th:align="center">Это список моих пользователей</div>
</br>
<table th:border="5" th:align="center">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Логин</th>
        <th scope="col">Роли</th>
        <!--<th scope="col">Пароль</th>-->
        <!--<th scope="col">Роль</th>-->
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.id}">...</td>
        <td th:utext="${user.name}">...</td>
        <td th:utext="${user.lastName}">...</td>
        <td th:utext="${user.username}">...</td>
        <td th:utext="${user.getRolesToString()}">...</td>
        <td><a th:href="@{'/admin/' + ${user.id}+'/edit'}">edit</a></td>
    </tr>
</table>
</br>
</br>

<form method="LINK" action="/admin/new" th:align="center">
    <input type="submit" value="Создать нового пользователя">
</form>

<form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>

</body>
</html>