<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1 th:align="center">Данные пользователя</h1>


<table th:border="5" th:align="center">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Логин</th>
        <th scope="col">Роли</th>
    </tr>
    <tr>
        <td th:utext="${user.id}">...</td>
        <td th:utext="${user.name}">...</td>
        <td th:utext="${user.lastName}">...</td>
        <td th:utext="${user.username}">...</td>
        <td th:utext="${user.getRolesToString()}">...</td>
    </tr>
</table>

<form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>
</body>
</html>